<!DOCTYPE html>
<html lang="ru" class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{{ page_title }} {{ type }}</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
        <link rel="stylesheet" type="text/css" href="/styles/homepage.css">
        <link rel="stylesheet" type="text/css" href="/styles/category.css">
    </head>
    <body>
        {% block body %}
            <header class="mb-auto text-white">
            <div class="collapse" id="navbarHeader" style="background: linear-gradient(to top, #6c2d2c 45%, #212529 100%);">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-7 py-4">
                            <h4 class="text-white">О странице</h4>
                            <p class="text-muted">Это информационная страница представляет собой примеры исходных кодов, взаимодействие и разработку веб-приложений/страниц.</p>
                        </div>
                        <div class="col-sm-4 offset-md-1 py-4">
                            <h4 class="text-white">Контакты</h4>
                            <ul class="list-unstyled">
                                <li><a href="#" class="text-white">LavreekSoLacki@yandex.ru</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-dark shadow-sm" style="background: #6c2d2c;">
                <div class="container">
                    <a href="http://yourdwell.ru/" class="navbar-brand d-flex align-items-center">
                        <strong>YourDwell</strong>
                    </a>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link" aria-current="page" href="{{ path('homepage') }}">Главная страница</a>
                        <a class="nav-link" href="{{ path('homepage') }}Каталог/" disabled>Каталог</a>
                        <a class="nav-link" href="." disabled>Вернуться к резюме</a>
                    </nav>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div> 
        </header>
        <main>
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">Выбор категории</h1>
                        <p class="lead text-muted">Выбор данной карты предоставит возможность ознакомления с исходным кодом данного раздела.</p>
                    </div>
                </div>
            </section>

            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="justify-content-md-center row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    	{% for card in cards %}
                    		{{ placeCards(card) }}
                    	{% endfor %}

                    	
                        <!-- <?php /*  Learn PHP/REST  */
                            require_once "control.php";
                            $control = new Control();
                            $control->placeCards();
                        ?> -->
                    </div>
                </div>
            </div>

            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">Примеры кода</h1>
                        <p class="lead text-muted">Ниже приведены примеры отображения и получения данных для отображения данной страницы.</p>
                        <a href="." style="color: grey;">GitHub</a>
                    </div>
                </div>
            </section>
        </main>

        <footer class="text-muted py-5">
            <div class="container">
                <p class="float-end mb-1">
                    <a href="#">Вернуться наверх</a>
                </p>
                <p class="mb-1">Создано с помощью <a href="https://getbootstrap.com/">Bootstrap</a>.</p>
            </div>
        </footer>
        {% endblock %}
    </body>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</html>
