{% extends "base.html.twig" %}
    
    {% block title %} {{ page_title }} {% endblock %}

    {% block stylesheets %}
        {{ parent() }}

        <link rel="stylesheet" type="text/css" href="/styles/homepage.css">
        <link rel="stylesheet" type="text/css" href="/styles/navbar.css">
    {% endblock %}
    
    {% block body %}
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
            {% block header %}
                {{ include('homepage/header.html') }}
            {% endblock %}
            
            {% block main %}
                {{ include('homepage/main.html') }}
            {% endblock %}

            {% block footer %}
                {{ include('homepage/footer.html') }}
            {% endblock %}
        </div>
    {% endblock %}